---
import type { CollectionEntry } from "astro:content";
import type { IElement } from "@/data/shared";
import { getFormattedDate } from "@/utils";

interface Props extends IElement {
	post: CollectionEntry<"post">;
	withDesc?: boolean;
}

const { post, as: Element = "div", withDesc = false } = Astro.props;
const date = new Date(post.data.publishDate);
const datetime = date.toISOString();
const postDate = getFormattedDate(date);
---

<time datetime={datetime} class="meta-text">{postDate}</time>
<Element class="mt-1 text-xl font-medium leading-tight text-accent-2">
	<a href={`/posts/${post.slug}`} class="title-link" rel="prefetch">
		{post.data.title}
	</a>
</Element>
{withDesc && <p class="mt-2 text-sm text-muted">{post.data.description}</p>}
